<!DOCTYPE HTML>
<html>
<head>
    <title>Using HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/d8bda54ed1.js" crossorigin="anonymous"></script>
</head>
<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                @*<div class="logo"><i class="icon fa-solid fa-dollar-sign"></i></div>*@
                <div class="header-background"></div>
                <h2 class="titlehs">Data Scrapper do kursów walut obcych NBP</h2>
                <p>Przy użyciu serwisu <a href="http://api.nbp.pl/">api.nbp.pl</a></p>
            </div>
            <div class="buttonDiv">
                <button id="btn-download">Wyświetl i zapisz aktualne kursy walut</button>
            </div>
            <div id="exchangeRateContainer"></div>
        </section>
        


        <!-- Footer -->
        <section id="footer">
            <div class="inner">
                <h2 class="major">Kontakt</h2>
                
                <ul class="contact">
                    <li class="fa-address-book">(44) 77621 54985</li>
                    <li class="fa-envelope"><a href="mailto:hubert.sieron@gmail.com">hubert.sieron@gmail.com</a></li>

                </ul>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/exchangeRate.js"></script>

</body>
</html>